@media (max-width: 414px) {
  .um .ano {
    font-weight: 300;
  }

  .um .seasons {
    font-weight: 300;
  }

  .um .saudacao {
    left: 12.9rem;
  }

  .um .title {
    font-size: 1.1rem;
    font-weight: 200;
    top: 8rem;
    left: 4.8rem;
  }

  .um .ric {
    top: 9.8rem;
    left: 4.8rem;
    font-size: 1.1rem;
  }

  .um .p {
    font-size: 1.1rem;
    font-weight: 200;
    top: 9.8rem;
    left: 8.8rem;
  }

  .um .article {
    top: 29vh;
  }

  .um .carta {
    left: 12.9rem;
  }

  .um .andar-a-pe {
    top: 61vh;
    white-space: nowrap;
  }

  .um .yoda {
    width: 13rem;
    top: 32.5rem;
    left: 12.9rem;
  }

  .um .musica {
    position: absolute;
    bottom: 4.5rem;
    color: #fff;
    left: 50%;
    font-size: 1rem;
    font-weight: 200;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .um audio {
    bottom: 2rem;
    height: 2rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .um .description {
    bottom: 0.5rem;
    left: 50%;
    font-size: 0.95rem;
    margin-right: -50%;
    transform: translate(-50%);
  }
}
