@media (max-width: 414px) {
  .um .saudacao {
    left: 12.9rem;
  }

  .um .title {
    font-size: 1.1rem;
    font-weight: 100;
    top: 8rem;
    left: 3rem;
  }

  .um .ric {
    top: 9.8rem;
    left: 3rem;
    font-size: 1.1rem;
  }

  .um .p {
    font-size: 1.1rem;
    font-weight: 100;
    top: 9.8rem;
    left: 7rem;
  }

  .um .carta {
    left: 12.9rem;
  }

  .um .yoda {
    top: 33rem;
    left: 12.9rem;
  }
}
