@media (max-width: 414px) {
  .um .ano {
    font-weight: 300;
  }

  .um .seasons {
    font-weight: 300;
  }

  .um .saudacao {
    left: 12.9rem;
  }

  .um .title {
    font-size: 1.1rem;
    font-weight: 200;
    top: 8rem;
    left: 4.8rem;
  }

  .um .ric {
    top: 9.8rem;
    left: 4.8rem;
    font-size: 1.1rem;
  }

  .um .p {
    font-size: 1.1rem;
    font-weight: 200;
    top: 9.8rem;
    left: 8.8rem;
  }

  .um .article {
    top: 30vh;
  }

  .um .carta {
    left: 12.9rem;
  }

  .um .andar-a-pe {
    top: 61vh;
    white-space: nowrap;
  }

  .um .yoda {
    top: 33.5rem;
    left: 12.9rem;
  }
}
