* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

.sliding-background {
  background: url(../img/bg.jpg) repeat-x;
  height: 100vh;
  width: 6000px;
  animation: slide 450s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-3840px, 0, 0);
  }
}

.um {
  width: 100vw;
  height: 100vh;
}

.um .saudacao {
  position: absolute;
  top: 4.5rem;
  left: 50%;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: -50%;
  transform: translate(-50%);
}

.um .title {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 100;
  top: 8rem;
  left: 34.1rem;
}

.um .ric {
  position: absolute;
  top: 9.8rem;
  left: 34.2rem;
  font-size: 1.1rem;
}

.um .p {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 100;
  top: 9.8rem;
  left: 38.2rem;
}

.um .wrapper {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.um .animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  transition: 0.4s;
}

.um .animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #e95f55 transparent;
  z-index: 2;
}

.um .animated-mail .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #cf4a43 transparent transparent transparent;
  z-index: 2;
}

.um .animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #cf4a43;
  z-index: 0;
}

.um .animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #e15349;
  z-index: 2;
}

.um .animated-mail .letter {
  position: absolute;
  left: 20px;
  bottom: 0px;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}

.um .animated-mail .letter .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #cb5a5e,
    #cb5a5e 8px,
    transparent 8px,
    transparent 18px
  );
}

.um .animated-mail .letter .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #cb5a5e;
}

.um .animated-mail .letter .letter-context {
  margin-top: 10px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 20%;
  background: #cb5a5e;
}

.um .animated-mail .letter .letter-stamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #cb5a5e;
  opacity: 0.3;
}

.um .wrapper:hover .animated-mail {
  transform: translateY(50px);
}

.um .wrapper:hover .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  z-index: 0;
}

.um .wrapper:hover .animated-mail .letter {
  height: 180px;
}

.um .carta {
  position: absolute;
  width: 12rem;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 2rem purple);
}

.um .carta:hover {
  width: 12.5rem;
  left: 49.9%;
  filter: drop-shadow(0 0 2rem #ff00ff);
}

.um .yoda {
  position: absolute;
  width: 15rem;
  top: 28rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  transition: all 0.5s ease-in-out;
}

.um .yoda:hover {
  filter: drop-shadow(0 0 1rem #00c91e);
}
