* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

.sliding-background {
  background: url(../img/bg.jpg) repeat-x;
  height: 100vh;
  width: 6000px;
  animation: slide 450s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-3840px, 0, 0);
  }
}

.um {
  width: 100vw;
  height: 100vh;
}

.um .ano {
  position: absolute;
  color: #c9d1d9;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.um .ano:hover {
  color: #fff;
}

.um .ano::after {
  content: "|";
  opacity: 1;
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.um .seasons {
  position: absolute;
  color: #c9d1d9;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.1rem;
  white-space: nowrap;
}

.um .saudacao {
  position: absolute;
  top: 4.5rem;
  left: 50%;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: -50%;
  transform: translate(-50%);
}

.um .notification {
  position: absolute;
  top: 16vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #c9d1d9;
}

.um .notification p {
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 100;
  color: #c9d1d9;
}

.um .notification a {
  text-decoration: none;
  color: #c9d1d9;
}

.um .notification b {
  color: #c9d1d9;
}

.um .article {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
  top: 30vh;
  left: 50%;
  transform: translate(-50%);
}

.um .article a {
  text-decoration: none;
}

.um .article:hover {
  text-decoration: underline;
}

.um .wrapper {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.um .carta {
  position: absolute;
  width: 12rem;
  top: 50%;
  left: 50%;
  cursor: pointer;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 2rem purple);
}

.um .carta:hover {
  width: 12.5rem;
  left: 49.9%;
  filter: drop-shadow(0 0 2rem #ff00ff);
}

.um .andar-a-pe {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
  top: 67vh;
  left: 50%;
  transform: translate(-50%);
}

.um .andar-a-pe:hover {
  text-decoration: underline;
}

.um .yoda {
  position: absolute;
  width: 15rem;
  bottom: 1.5rem;
  left: 60%;
  transform: translate(-50%);
  transition: all 0.3s ease-in-out;
}

.um .yoda:hover {
  filter: drop-shadow(0 0 1rem #00c91e);
}

.um .musica {
  position: absolute;
  bottom: 5.5rem;
  color: #fff;
  left: 45%;
  font-size: 1rem;
  font-weight: 200;
  margin-right: -50%;
  transform: translate(-50%);
}

.um audio {
  position: absolute;
  bottom: 3rem;
  width: 17rem;
  height: 2rem;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%);
}

.um .description {
  position: absolute;
  font-weight: 100;
  bottom: 1.5rem;
  left: 45%;
  font-size: 0.95rem;
  margin-right: -50%;
  transform: translate(-50%);
}

.um .description:hover {
  text-decoration: underline;
}
