@media (max-width: 414px) {
  .bg-letters {
    object-fit: cover;
  }

  .home {
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .title h1 {
    top: 5vh;
  }

  .inbox {
    top: 10vh;
  }

  .container {
    top: 17vh;
    width: 90vw;
    height: 70vh;
    background: #000;
  }

  .container .empty1 {
    top: 37vh;
  }

  .container .empty2 {
    top: 37vh;
  }

  .container .empty3 {
    top: 57vh;
  }

  .container .empty4 {
    top: 57vh;
  }

  audio {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .description {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }
}
