@media (max-width: 414px) {
  .bg-letters {
    object-fit: cover;
  }

  .home {
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .title h1 {
    top: 5vh;
  }

  .inbox {
    top: 10vh;
  }

  .container {
    top: 17vh;
    width: 90vw;
    height: 65vh;
    background: #000;
  }

  .container .desc-1 {
    top: 15vh;
    left: 9.5vw;
  }

  .container .desc-2 {
    top: 15vh;
    right: 9.5vw;
  }

  .container .empty1 {
    top: 27vh;
  }

  .container .empty2 {
    top: 27vh;
  }

  .container .empty3 {
    top: 47vh;
  }

  .container .empty4 {
    top: 47vh;
  }

  audio {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .description {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }
}
