* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bg {
  width: 100vw;
  height: 100vh;
}

.bg-letters {
  width: 100vw;
  height: 100vh;
  filter: brightness(18%);
}

.home {
  position: absolute;
  width: 100%;
  top: 0.5rem;
  left: 0.7rem;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 0.3rem 0.3rem #000);
  transition: all 0.2s ease-in-out;
}

.home a {
  text-decoration: none;
}

.title h1 {
  position: absolute;
  top: 8vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  font-weight: 500;
  font-family: "Nanum Pen Script", cursive;
  font-size: 2.3rem;
}

.inbox {
  position: absolute;
  top: 15vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  font-size: 0.9rem;
  text-decoration: underline;
}
