@media screen and (min-width: 1400px) {
  .container .desc-1 {
    top: 13vh;
    left: 4vw;
  }

  .container .desc-2 {
    top: 13vh;
    right: 7vh;
  }

  .container .letter3 {
    top: 18.5vh;
    width: 7.5rem;
  }

  .container .desc-3 {
    top: 29.6vh;
    left: 3.8vw;
  }

  .container .letter4 {
    top: 18.5vh;
    width: 7.5rem;
  }

  .container .desc-4 {
    top: 29.6vh;
    right: 7vh;
  }

  .bichinhos {
    position: absolute;
    width: 10rem;
    bottom: 10.5vh;
    left: 4.5vw;
  }

  .description {
    left: 9.5vh;
  }
}
