@media (max-width: 414px) {
  .bg-letters {
    object-fit: cover;
  }

  .home {
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .bonus {
    top: 0.7rem;
  }

  .title h1 {
    top: 6vh;
  }

  .inbox {
    top: 10.5vh;
  }

  .container {
    top: 20vh;
    width: 90vw;
    height: 60vh;
  }

  .container .desc-1 {
    top: 13.5vh;
    left: 13vw;
  }

  .container .desc-2 {
    top: 13.5vh;
    right: 13vw;
  }

  .container .letter3 {
    top: 19vh;
  }

  .container .desc-3 {
    top: 30.5vh;
    left: 13.5vw;
  }

  .container .letter4 {
    top: 19vh;
    right: 4vh;
  }

  .container .desc-4 {
    top: 30.5vh;
    right: 13vw;
  }

  .container .empty1 {
    top: 19vh;
  }

  .container .empty2 {
    top: 19vh;
  }

  .container .empty3 {
    top: 36vh;
  }

  .container .empty4 {
    top: 36vh;
  }

  .bichinhos {
    bottom: 10vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  audio {
    left: 50%;
    bottom: 5.5vh;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .description {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    bottom: 2vh;
  }
}
