@media screen and (min-width: 1400px) {
  .patinho {
    top: 35vh;
  }

  .talk {
    top: 18vh;
    right: 57vh;
  }

  .um .span {
    top: 22.5vh;
    right: 64.5vh;
  }

  .um audio {
    position: absolute;
    top: 89.5vh;
  }

  .dois {
    position: absolute;
    height: 417vh;
    top: 100vh;
  }

  .dois .text {
    top: 25vh;
  }

  .dois .puck2 {
    top: 19.5vh;
    left: 39vw;
  }

  .dois .pikachu {
    top: 195rem;
    left: 37vw;
  }

  .dois .puck {
    width: 5rem;
    top: 390vh;
    left: 60vw;
  }

  .dois .start {
    top: 202rem;
  }
}
