@media (max-width: 414px) {
  .um .home {
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .um audio {
    top: 83vh;
  }

  .um .desc {
    top: 87.2vh;
  }

  .um .span1 {
  }

  .um .patinho {
    top: 28vh;
  }

  .um .talk {
    top: 13vh;
    right: -4vw;
    width: 13.5rem;
  }

  .um .span {
    top: 16.6vh;
    right: 3.7vh;
    color: black;
    font-size: 1rem;
  }

  .um .content-coracao {
    margin: 63vh auto;
  }

  .dois {
    height: 305vh;
  }

  .dois .puck2 {
    width: 4.8rem;
    top: 5vh;
    left: 19vw;
  }

  .dois .text {
    top: 10vh;
    left: 12.9rem;
  }

  .dois p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .dois .pikachu {
    top: 340vh;
    left: 15vw;
  }

  .dois .puck {
    top: 330vh;
    left: 65vw;
  }

  .dois .start {
    top: 355vh;
  }
}
