@media (max-width: 414px) {
  .um .home {
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .um audio {
    top: 83vh;
  }

  .um .desc {
    top: 87.2vh;
  }

  .um .patinho {
    top: 28vh;
  }

  .um .talk {
    top: 15.2vh;
    right: 6vw;
    width: 8.5rem;
  }

  .um .span {
    top: 18.3vh;
    right: 5vh;
    color: black;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .um .content-coracao {
    margin: 63vh auto;
  }

  .dois {
    height: 352vh;
  }

  .dois .puck2 {
    width: 4.8rem;
    top: 5vh;
    left: 19vw;
  }

  .dois .text {
    top: 10vh;
    left: 12.9rem;
  }

  .dois p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .dois .pikachu {
    top: 330vh;
    left: 13vw;
  }

  .dois .puck {
    top: 321vh;
    left: 71vw;
  }

  .dois .start {
    top: 343vh;
  }
}
