@media (max-width: 414px) {
  .um .home {
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .um audio {
    top: 83vh;
  }

  .um .desc {
    top: 87.2vh;
  }

  .um .span1 {
  }

  .um .patinho {
    top: 28vh;
  }

  .um .talk {
    top: 13vh;
    right: -1vw;
    width: 13.5rem;
  }

  .um .span {
    top: 16.5vh;
    right: 3.7vh;
    color: black;
    font-size: 1rem;
  }

  .um .content-coracao {
    margin: 63vh auto;
  }

  .dois {
    height: 305vh;
  }

  .dois .puck2 {
    width: 5rem;
    top: 47rem;
    left: 19.5rem;
  }

  .dois .text {
    left: 12.9rem;
  }

  .dois p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .dois .pikachu {
  }

  .dois .puck {
  }

  .dois .start {
  }
}
