* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #000000;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #6b727c;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9d1d9;
}

.um {
  width: 100vw;
  height: 100vh;
}

.um .home {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.um .home a {
  text-decoration: none;
}

.um .inbox {
  position: absolute;
  color: #c9d1d9;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.1rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.inbox:hover {
  text-decoration: underline;
}

.um audio {
  position: absolute;
  top: 88vh;
  width: 17rem;
  height: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.um .desc {
  position: absolute;
  color: #c9d1d9;
  top: 93.5vh;
  left: 50%;
  font-size: 0.95rem;
  cursor: pointer;
  margin-right: -50%;
  transform: translate(-50%);
  transition: all 0.2s ease-in-out;
}

.um .desc:hover {
  text-decoration: underline;
}

.patinho {
  position: absolute;
  width: 11rem;
  top: 30vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  transition: all 0.5s ease-in-out;
}

.patinho:hover {
  filter: drop-shadow(0 0 0.5rem gold);
}

.talk {
  position: absolute;
  width: 12rem;
  top: 10vh;
  right: 67vh;
  transform: rotate(6deg);
}

.um .span {
  position: absolute;
  top: 15.8vh;
  right: 70.7vh;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.25rem;
}

.um .content-coracao {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  cursor: pointer;
  margin: 67vh auto;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 2rem purple);
  -webkit-animation: pulsa 1.5s linear 0s infinite;
}

.um .content-coracao:hover {
  filter: drop-shadow(0 0 2rem #ff00ff);
}

@keyframes pulsa {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  85% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(0.95);
  }
  97% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.um .square {
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  background: #e71940;
  position: absolute;
  top: 30px;
}

.um .circle:after,
.circle:before {
  content: "";
  position: absolute;
  width: 54px;
  height: 55px;
  border-radius: 50%;
  background: #e71940;
}
.um .circle:after {
  left: 5px;
  top: 6px;
}
.um .circle:before {
  right: 5px;
  top: 6px;
}

.dois {
  position: absolute;
  top: 102vh;
  width: 100vw;
  height: 500vh;
}

.dois .text {
  position: absolute;
  top: 25vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.dois .puck2 {
  position: absolute;
  width: 5rem;
  top: 18vh;
  left: 38vw;
  filter: drop-shadow(0 0 0.6rem #8a2be2);
}

.dois p {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.dois .pikachu {
  position: absolute;
  width: 8rem;
  top: 474vh;
  left: 36vw;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.dois .pikachu:hover {
  filter: drop-shadow(0 0 0.5rem #ffda45);
}

.dois .puck {
  position: absolute;
  width: 5rem;
  top: 461vh;
  left: 60vw;
}

.dois .start {
  position: absolute;
  top: 493vh;
  font-size: 1.5rem;
  right: 1rem;
  cursor: pointer;
}
