@media screen and (max-width: 767px) {
  body {
    height: 227vh;
  }
  .fofura_post_bonus {
    position: absolute;
    top: 20vh;
    left: 5vw;
    font-weight: 300;
    font-size: 0.8rem;
    font-style: italic;
  }

  .roll {
    top: 22vh;
    left: 82.5vw;
    width: 12vw;
    z-index: 1;
  }

  .capa {
    width: 90vw;
    top: 22vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .name {
    top: 64.2vh;
    left: 4.5vh;
    font-weight: 500;
  }

  .face_head {
    top: 77vh;
    width: 20vw;
    visibility: visible;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem #000000);
  }

  audio {
    top: 115.8vh;
  }

  .description {
    top: 120.2vh;
  }

  .articles {
    top: 130vh;
    width: 95vw;
    height: 70vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 0.25rem;
  }

  .articles span {
    top: 10vh;
    width: 95%;
    font-weight: 500;
  }

  .articles .two {
    top: 16vh;
  }

  .articles .tree {
    top: 22vh;
  }

  .articles .four {
    top: 28vh;
  }

  .articles .ten {
    top: 64vh;
  }

  .date {
    position: absolute;
    top: 224vh;
    right: 3vw;
  }
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
  /* Seus estilos aqui */
}
