@media screen and (min-width: 1400px) {
  body {
    height: 120vh;
  }
  .mangas .kimi-no-na-wa {
    left: 81.3vh;
  }

  .mangas .desc-b45 {
    top: 56vh;
  }

  .mangas .kimi-no-na-wa {
    left: 37.4vw;
  }

  .mangas .desc-kimi-no-na-wa {
    top: 56vh;
    left: 39.7vw;
  }

  .mangas .desc-n-d34 {
    top: 56vh;
    left: 52.8vw;
  }

  .mangas .swknu {
    top: 25vh;
    right: 23vw;
  }

  .mangas .desc-swknu {
    top: 56vh;
    right: 22vw;
  }

  .mangas .tnk {
    top: 65vh;
  }

  .mangas .desc-tnk {
    width: 13rem;
    top: 96vh;
    left: 43.2vw;
  }
}
