@media screen and (min-width: 1400px) {
  .mangas .kimi-no-na-wa {
    left: 81.3vh;
  }

  .mangas .desc-b45 {
    top: 156vh;
  }

  .mangas .kimi-no-na-wa {
    left: 37.4vw;
  }

  .mangas .desc-kimi-no-na-wa {
    top: 156vh;
    left: 39.7vw;
  }

  .mangas .desc-n-d34 {
    top: 156vh;
    left: 52.8vw;
  }

  .mangas .swknu {
    top: 125vh;
    right: 23vw;
  }

  .mangas .desc-swknu {
    top: 156vh;
    right: 22vw;
  }

  .mangas .tnk {
    top: 167vh;
  }

  .mangas .desc-tnk {
    top: 198vh;
  }
}
