@media (max-width: 414px) {
  .mangas .b45 {
    width: 8rem;
    top: 21vh;
    left: 8vw;
  }

  .mangas .kimi-no-na-wa {
    width: 8rem;
    top: 21vh;
    left: 15vh;
  }

  .mangas .n-d34 {
    width: 8rem;
    top: 21vh;
    left: 41vw;
  }
}
