* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 140vh;
  background: url(../img/bg-desk.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  backdrop-filter: brightness(12%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #6b727c;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9d1d9;
}

.home {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home a {
  text-decoration: none;
}

.inbox {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

/* Define a animação */
@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
.inbox {
  animation-name: animacao;
  animation-duration: 2s;
  animation-delay: 4s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

.inbox .inbox-top {
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

.inbox .inbox-top:hover {
  color: #fff;
}

.inbox .inbox-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.inbox .inbox-top:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.title {
  position: absolute;
  left: 50%;
  top: 8vh;
  font-weight: 500;
  margin-right: -50%;
  transform: translate(-50%);
  color: #c9d1d9;
}

.title p {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
}

/* Define a animação */
@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
.title {
  animation-name: animacao;
  animation-duration: 1.5s;
  animation-delay: 1s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

/* Define a animação */
@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
.mangas {
  animation-name: animacao;
  animation-duration: 2s;
  animation-delay: 1.8s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

.mangas .b45 {
  position: absolute;
  width: 10rem;
  top: 25vh;
  left: 23vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .b45:hover {
  transform: scale(1.02);
}

.mangas .desc-b45 {
  position: absolute;
  top: 62vh;
  left: 26.1vw;
  font-weight: 100;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .desc-b45:hover {
  text-decoration: underline;
}

.mangas .kimi-no-na-wa {
  position: absolute;
  width: 10rem;
  height: 14.95rem;
  top: 25vh;
  left: 37.2vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .kimi-no-na-wa:hover {
  transform: scale(1.02);
}

.mangas .desc-kimi-no-na-wa {
  position: absolute;
  top: 62vh;
  left: 39.5vw;
  font-weight: 100;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .desc-kimi-no-na-wa:hover {
  text-decoration: underline;
}

.mangas .n-d34 {
  position: absolute;
  width: 10rem;
  height: 14.95rem;
  top: 25vh;
  right: 37vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .n-d34:hover {
  transform: scale(1.02);
}

.mangas .desc-n-d34 {
  position: absolute;
  top: 62vh;
  left: 52.3vw;
  font-weight: 100;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .desc-n-d34:hover {
  text-decoration: underline;
}

.mangas .swknu {
  position: absolute;
  width: 10rem;
  height: 14.95rem;
  top: 25vh;
  right: 23vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .swknu:hover {
  transform: scale(1.02);
}

.mangas .desc-swknu {
  position: absolute;
  top: 62vh;
  right: 22vw;
  font-weight: 100;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .desc-swknu:hover {
  text-decoration: underline;
}

.mangas .tnk {
  position: absolute;
  width: 10rem;
  height: 14.95rem;
  top: 74vh;
  right: 44vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .tnk:hover {
  transform: scale(1.02);
}

.mangas .desc-tnk {
  position: absolute;
  top: 111vh;
  right: 43.2vw;
  font-weight: 100;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mangas .desc-tnk:hover {
  text-decoration: underline;
}

audio {
  position: absolute;
  bottom: 6.5vh;
  left: 1vw;
  width: 17rem;
  height: 2rem;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem #000000);
}

/* Define a animação */
@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
audio {
  animation-name: animacao;
  animation-duration: 2s;
  animation-delay: 1.8s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}

.description {
  position: absolute;
  font-weight: 300;
  bottom: 3.1vh;
  left: 4.3vw;
  font-size: 0.85rem;
}

/* Define a animação */
@keyframes animacao {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Aplica a animação ao objeto */
.description {
  animation-name: animacao;
  animation-duration: 2s;
  animation-delay: 1.8s; /* Define um atraso de 2 segundos */
  opacity: 0; /* Define a opacidade inicial como 0 */
  animation-fill-mode: forwards;
}
