* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #f6c493;
}

main span {
  position: absolute;
  top: 25vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #242424;
  font-family: "Nanum Pen Script", cursive;
  font-size: 2.3rem;
  font-weight: 500;
  z-index: 1;
}

main .calcifer {
  position: absolute;
  width: 15vw;
  bottom: 5vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  filter: drop-shadow(0 0.6rem 1.3rem #f9a963);
  transition: all 0.3s ease-in-out;
}

main .calcifer:hover {
  filter: drop-shadow(0 -1.5rem 1.3rem #fff);
}

.container2 {
  width: 100vw;
  height: 100vh;
  background-image: url();
}
