* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #f6c493;
}

main .home1 {
  position: absolute;
  top: -24vh;
  left: 2.5vw;
  cursor: pointer;
  filter: drop-shadow(0 0.3rem 0.3rem #242424);
  transition: all 0.2s ease-in-out;
}

main .home1 a {
  font-size: 1rem;
  text-decoration: none;
}

main .inbox {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

main .inbox .inbox-top {
  color: #242424;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

main .inbox .inbox-top:hover {
  color: #242424;
}

main .inbox .inbox-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #242424;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

main .inbox .inbox-top:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

main span {
  position: absolute;
  top: 25vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: #242424;
  font-family: "Nanum Pen Script", cursive;
  font-size: 2.3rem;
  font-weight: 500;
  z-index: 1;
}

main .calcifer {
  position: absolute;
  width: 15vw;
  bottom: 5vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  filter: drop-shadow(0 0.6rem 1.3rem #f9a963);
  transition: all 0.3s ease-in-out;
}

main .calcifer:hover {
  filter: drop-shadow(0 -1.5rem 1.3rem #fff);
}

hr {
  height: 6px;
  background-color: red;
  }

.container2 {
  width: 100vw;
  height: 100vh;
  background-image: url();
}
